[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "==1.1.1"
google-cloud-speech = "*"
pydub = "*"
python-dotenv = "*"
librosa = "*"
google-cloud-texttospeech = "*"
gunicorn = "*"
soundfile = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.6"
